html {
	height: 100%;
}
body {
	height: 100%;
	background-color: red;
}

linear-layout {
	height: 100%;
}
.body {
	background-color: #00ff00;
}

#body {
	background-color: #00ffff;
}

.red {
	background-color: red;
}


.label {
	color: black;
	background-color: #00ff00;
	opacity: 0.1;
}
