html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background-color: #ff00ff;
}

linear-layout {
	height: 100%;
}

label {
    color: #000000;
    background-color: blue;

}

#test {
    color: #000000;
    background-color: #ff0000;
}
