html {
}
body {
	background-color: red;
	color: blue;
}

linear-layout {
	color: green;
	height: 100%;
}

label {
	background-color: yellow;
	color: gray;
}
.body {
}

#body {
}

.red {
	background-color: red;
}


#labeltest {
	background-color: green;
	background-image: url("button.png");
}

#labeltest:active{
	background-color: yellow;
	
}
