html {
}
body {
	background-color: red;
	color: blue;
}

linear-layout {
	color: green;
	height: 100%;
}

label {
	background-color: yellow;
	color: gray;
}
.body {
}

#body {
}

.red {
	background-color: red;
}


.label {
	color: black;
	background-color: #00ff00;
	opacity: 0.1;
}
